:root {
    --primary: #052217;
    --secondary: rgba(203, 234, 222, 0.541);
    --third: #8abb9d;

    --text-main: #E3FFF5;
    --section-bg-odd: linear-gradient(to bottom,#16513bdd, #4d8a64, #67987a);
    --section-bg-even: linear-gradient(to bottom,#67987a ,#4d8a64, #16513bdd);

    --text-landing: #195840;
    --landing-bg: linear-gradient(to bottom , rgba(203, 234, 222, 0.541),rgba(28, 115, 82, 0.541));
    --btn-bg: #112d14;
    --btn-hover-bg: #E3FFF5;
    --btn-font-color: #E3FFF5;
    --btn-hover-font-color: #112d14;

    --navbtn-bg: #1b291c;
    --navbtn-hover-bg: #add5c7;
    --navbtn-font-color: #add5c7;
    --navbtn-hover-font-color: #1b291c;

    --ideasPage-bg: #1a1e1a;
    --ideasPage-hover-bg: #a7f070;
    --ideasPage-font-color: #a7f070;
    --ideasPage-hover-font-color: #1a1e1a;

    --onecard-bg-primary:#c6e7d8;
    --onecard-font-primary:rgb(6, 19, 18);
    --onecard-bg-secondary:rgb(6, 19, 18);
    --onecard-font-secondary:#c6e7d8;

    --bg-dark: #1a1e1a;
    --text-green: #a7f070;
    --beige-light: #e0cda7;
    --beige-dark-shadow: #8a6a3a;
    --pot-brown: #6b3010;
    --pot-rim-brown: #7c3a15;
    --flower-white: #ffffff;
    --flower-yellow: #f0e632;
    --stem-green: #66a840;
    --stat-text: #1a1e1a;

    --searchcontainer-bg: #1c4c2d92;
    --searchcontainer-text:#ffffff;
    --searchcontainer-border:#d0edd4;
    --searchcontainer-shadow:#b7f0be7b;
    --innercont-bg:#4291548c;
    --innercont-hover-bg:#021e0c;
    --innercont-hover-shadow:#073d1a73;

    --plantsearchPage-bg: #1c4c2dd0;
    --plantsearchPage-hover-bg: #ffffff;
    --plantsearchPage-font-color: #ffffff;
    --plantsearchPage-hover-font-color: #072e15d3;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #16513b;
}
section {   
    height: 100vh;
    width: 100%;
    padding: 0;
    display: flex;
    background-image: var(--section-bg-odd);
}
section:nth-child(even){background-image: var(--section-bg-even);}

.hidden {opacity: 0;transition: all 1s ease;transform: translateX(-100px);}
.hidden2 {opacity: 0;transition: all 1s ease;transform: translateX(100px);}
.show{opacity: 1;transition: all 1s ease;transform: translateX(0);}

@keyframes rotate {
    0% { transform:  translateZ(-100px) rotateX(-15deg) rotateY(-30deg); }
    20% { transform: translateZ(-100px) rotateX(-15deg) rotateY(60deg); }
    40% { transform: translateZ(-100px) rotateX(-15deg) rotateY(-60deg); }
    60% { transform: translateZ(-100px) rotateX(-15deg) rotateY(60deg); }
    80% { transform: translateZ(-100px) rotateX(-15deg) rotateY(-60deg); }
    100% { transform: translateZ(-100px) rotateX(-15deg) rotateY(-30deg); }
}



