#top-navbar {
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#top-navbar button {
    height: 100%;
    width: 100%;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 16pt;
    padding: 10px;
    background-color:var(--navbtn-bg);
    color: var(--navbtn-font-color);
}
#top-navbar button:hover {
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    letter-spacing: 2px;
    background-color:var(--navbtn-hover-bg);
    color:var(--navbtn-hover-font-color);
}