<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden ideas</title>
    <link rel="stylesheet" href="styleIdeas.css">
</head>
<body>
    <div id="header-container"></div>
    <div id="main-container">
        <% ideas.forEach(idea => { %>
            <div>
                <h3><%= idea.title %></h3>
                <p><%= idea.description %></p>
                <ul>
                    <% idea.plants.forEach(plant => { %>
                        <li><%= plant %></li>
                    <% }) %>
                </ul>
            </div>
        <% }) %>
    </div>
    <button id="backToTheTop">TOP</button>
</body>
</html>