<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sproutified</title>
    <link rel="stylesheet" href="/styles/styleIndex.css">
    <link rel="shortcut icon" href="/pics/plant.png" type="image/x-icon">
</head>
<body>
    <h1 id="main-title">WELCOME BACK!</h1>
    <div id="header-container">
        <form id="headerContent" action="/newGardens" method="get">
            <button id="headerContentButton" type="submit">New Garden</button>
            <!-- bulding a new garden/ starting a new garden layout -->
        </form>  
        <form id="headerContent" action="/myGardens" method="get">
            <button id="headerContentButton" type="submit">My gardens</button>
            <!-- listing the user's garden layouts (projects)-->
        </form>
        <form id="headerContent" action="/savedPlants" method="get">
            <button id="headerContentButton" type="submit">Saved Plants</button>
            <!-- a library to showcase the saved plants -->
        </form>
        <form id="headerContent" action="/showIdeasPage" method="get">
            <button id="headerContentButton" type="submit">Ideas</button>
            <!-- a scrolling feed, kinda like pinterest, to spark up new ideas for the user -->
        </form>
        <form id="headerContent" action="/showKnowledgesPage" method="get">
            <button id="headerContentButton" type="submit">Knowledge</button>
            <!-- a knowledge page, interesting facts about different types of gardens. for example: ,space gardening, gardening in Antarctica, gardening in the desert -->
        </form>
        <button id="openSideBar"><img src="/pics/settings_25dp_FFFFFF.png" alt=""></button>
    </div>
        <form id="headerContentRollDown">
            <button id="closeSideBar"><img src="/pics/close.png" alt="close"></button>
            <button id="language-btn" type="submit"><img src="/pics/translate.png" alt="language"></button>
            <!-- the language should be a selection with multiple languages -->
            <button id="dark-mode-btn" type="submit"><img src="/pics/dark_mode.png" alt="dark_mode"></button>
            <button id="account-btn" type="submit"><img src="/pics/account.png" alt="account"></button>
            <button id="log-out-btn" type="submit"><img src="/pics/logout.png" alt="logout"></button>
        </form>
    <div id="recentProjects-container">Here will be the recent projects data</div>
    <div id="weather-container">Here will be the weather</div>
    <script src="./mains/mainIndex.js"></script>
</body>
</html>