<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interesting facts about different garden types</title>
    <link rel="stylesheet" href="styleKnowledges.css">
</head>
<body>
    <h1>This is the knowledges page</h1>
    <div id="header-container">
        <form action="/" method="get">
            <button type="submit">Go back to main page</button>
        </form>
    </div>
    <div id="main-container"></div>
    <script src="main.js"></script>
</body>
</html>