.ideas-showcase-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ceiling {
    width: 90%;
    height: 15px;
    background-color: #253827;
    margin-top: 30px;
    border-radius: 10px;
}

.showcase_container {
    top: 0;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.ideaCard {
    width: 300px;
    height: 400px;
    padding: 20px;
    text-align: left;
    border-radius: 15px;
    background: var(--ideacard-bg);
    font-family: 'Courier New';
    font-weight: bold;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    cursor: pointer;
}

.ideaCard h2 {
    font-size: 2.5rem;
    margin: 0 0 10px 0;
    color: var(--ideacard-font);
}

.ideaCard h3 {
    font-size: 0.9rem;
    margin: 10px 0 8px 0;
    color: var(--ideacard-font);
}

.ideaCard p {
    font-size: 0.9rem;
    margin-top: 50px;
    color: var(--ideacard-font);
    line-height: 1.5;
}
.ideaCard li {
    font-size: 12pt;
    color: var(--ideacard-font);
}

.ideasPage_Btn {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--ideasPage-bg);
    color: var(--ideasPage-hover-bg);
    text-decoration: none;
    font-family: monospace;
    font-size: 12pt;
    margin: auto;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 0.3s ease;
}

.ideasPage_Btn:hover {
    background-color: var(--ideasPage-font-color);
    color: var(--ideasPage-hover-font-color);
    border: 2px solid #6b3010;
    transition: all 0.3s ease;
    width: 300px;
}