body {
    background-color: rgba(54, 132, 36, 0.8);
}
.garden-table {
    margin: 0 auto;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.garden-table td {
    border: 1px solid black;
    background-color: lightgreen;
    padding: 10px;
    margin: 20px;
    height: 100px;
    width: 100px;    
}
.plant-cell:hover {
    background-color: green;
    transition: background-color 0.6s ease;
    cursor: pointer;
}
.empty-cell {
    background-color: transparent !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.empty-cell:hover {
    cursor: default;
}
.newgarden_btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
}
.delete_btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
}

.delete_btn:hover {
    background-color: darkred;
    transition: background-color 0.6s ease;
}
.edit_btn {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 10px;
}
.edit_btn:hover {
    background-color: darkgoldenrod;
    transition: background-color 0.6s ease;
}
.back_btn {
    background-color: lightblue;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 10px;
}
.back_btn:hover {
    background-color: deepskyblue;
    transition: background-color 0.6s ease;
}
.save_btn {
    background-color: lightgreen;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 10px;
}
.save_btn:hover {
    background-color: green;
    transition: background-color 0.6s ease;
}
.emptycellbtn {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
.emptycellbtn:hover {
    background-color: rgb(0, 0, 0) !important;
    transition: background-color 0.6s ease;
}
.disablecellbtn {
    background-color: gray !important;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
}
.disablecellbtn:hover {
    background-color: lightslategray;
    transition: background-color 0.6s ease;
}
.plantcellbtn {
    background-color: greenyellow;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}
.plantcellbtn:hover {
    background-color: lightgreen !important;
    transition: background-color 0.6s ease;
}
.tobecollected-cell {
    background-color: rgba(100, 100, 100, 0.7) !important;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    font-size: 40px;
}

td.active {
    outline: none;
    background-color: rgb(48, 74, 98) !important;
    border: 2px solid rgb(102, 102, 102) !important;
    box-shadow: 0 0 10px rgb(102, 102, 102) !important;


}
.plant-card {
    border: 1px solid black;
    width: 20%;
}
.plant-card:hover {
    background-color: darkgreen;
    transition: background-color 0.6s ease;
    color: white;
}
.garden-card {
    width: fit-content;
    margin: auto;
    border: 2px solid black;

}



