:root{
    /* ######################################################## */
    --body-bg: linear-gradient(to bottom, #b2cd8f , #384d28 );
    --header-cont-bg: linear-gradient(to left, #364d26,#92ac70);
    --general-font-color:#060b04;
    --title-text-shadow:rgba(17, 26, 4, 0.878);
    --gardenideas-cont-bg:#000000;
    --text-main: #ffffff;
    --navbarBtn-bg: #334429e2;
    --navbarBtn-font-color:rgb(255, 255, 255);
    --navbarBtn-hover-bg: #212c19;
    --navbarBtn-hover-font-color: rgb(255, 255, 255);
    --search-btns-bg: #e0e9d5;
    --search-btns-font: #1a1e1a;
    --search-btns-hover-bg: #1a1e1a;
    --search-btns-hover-font: #e0e9d5;
    /* ######################################################## */
    --bg-dark: #1a1e1a;
    --text-green: #a7f070;
    --card-shadow: #ffffff88;
    --beige-light: #e0cda7;
    --beige-dark-shadow: #8a6a3a;
    --pot-brown: #6b3010;
    --pot-rim-brown: #7c3a15;
    --flower-white: #ffffff;
    --flower-yellow: #f0e632;
    --stem-green: #66a840;
    --stat-text: #1a1e1a;
    /* ######################################################## */
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */
.hidden {opacity: 0;transition: all 1s ease;transform: translateX(-100px);}
.hidden2 {opacity: 0;transition: all 1s ease;transform: translateX(100px);}
.show{opacity: 1;transition: all 1s ease;transform: translateX(0);}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

body.dark-theme{
    --body-bg: linear-gradient(to bottom, #192310, #161b11);
    --general-font-color:#e9fbcf;
    --title-text-shadow:rgba(24, 38, 4, 0.848);
    --gardenideas-cont-bg:#000000;
    --card-shadow: #9aec5c;
    --navbarBtn-bg: #515e4aee;
    --navbarBtn-font-color:rgb(255, 255, 255);
    --navbarBtn-hover-bg: #16220e;
    --navbarBtn-hover-font-color: rgb(255, 255, 255);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1870px) {
    .gardenIdeas-container{justify-content: center;gap: 3rem;}
}
@media (max-width: 1650px) {
    .gardenIdeas-container{justify-content: center;gap: 0;}
}
@media (max-width: 1300px) {
    .pot-button{transform: scale(0.7);}
}
@media (max-width: 850px) {
    .pot-button{transform: scale(0.5);}
    #searchBar{width: 90%;}
}
@media (max-width: 650px) {
    .gardenIdeas-container{flex-direction: column;}
    .garden-card{width: 70%;}
    .card-title{font-size: 1.6rem;}
    .card-description{font-size: 0.6rem;}
    .plant-list a{font-size: 0.7rem; }
    .stat-box{width: 5rem;}
    .stat-badge{font-size: 0.7rem;}
    .stat-label {font-size: 0.7rem;}
    .pot-button{transform: scale(0.6);}
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

body{
    background-image: var(--body-bg);
    transition: all 0.2s ease;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.header-container{
    width: 95%;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    margin: 2rem 0 5rem 0;
    padding: 2rem 0 2rem 0;
    border-radius: 5rem;
    align-items:center;
    background-image: var(--header-cont-bg);
}
.left-cont{
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
}
.right-cont{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.right-cont > div{width: 55%;}
.main-title{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: var(--general-font-color);
    font-size: clamp(2.5rem, 5.2vw, 6.2rem);
    text-shadow: var(--title-text-shadow);
    letter-spacing: 5px;
    font-weight: bolder;
    margin: 0;
    text-wrap: balance;
    text-align: left;
    padding-left: 5rem;
}
.sub-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--general-font-color);
    border-left: 1rem solid var(--general-font-color);
    font-size: clamp(1rem, 1vw, 1.2rem);
    text-align: left;
    width: 90%;
    line-height: 2.7vh;
    font-style: italic;
    text-wrap: balance;
    padding-left: 2vw;
    margin-left: 10vw;
}
#showSearch{
    width: 30vw;
    height: fit-content;
    padding: 0.8rem 0 0.8rem 0;
    margin: 8rem 0 0 0 ;
    font-size: clamp(0.7rem,1vw,3rem);
    border-radius: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    background-color: var(--search-btns-bg);
    color: var(--search-btns-font);
}
#showSearch:hover{
    width: 32vw;
    transition: all 0.2s ease-in-out;
    background-color: var(--search-btns-hover-bg);
    color: var(--search-btns-hover-font);
    letter-spacing: 2px;
    cursor: pointer;
}
.search-cont{
    width: 90%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    padding: 1rem 0 1rem 0;
}
#searchBtn{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: var(--search-btns-hover-bg);
    color: var(--search-btns-hover-font);
    border: none;
    margin: 0 1rem 0 1rem;
}
#searchBtn:hover{
    cursor: pointer;
}
#searchBar{
    width: 50vw;
    height: fit-content;
    padding: 0.8rem 0 0.8rem 0;
    font-size: clamp(0.7rem,1vw,3rem);
    border-radius: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
#searchBar:focus{
    outline: none;
    width: 55vw;
    transition: all 0.2s ease-in-out;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.gardenIdeas-container {
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    width: 95%; 
    margin: auto;
    align-items: center;
}
.garden-card {
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin: 0.6rem;
    width: 30%;
    height: fit-content;
    background-color: var(--bg-dark);
    color: var(--text-green);
    position: relative;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.garden-card:hover {
    transform: translateY(-5px) scale(1.01);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 4px 4px 4px var(--card-shadow);
}
.image-placeholder-wrapper {
    height: 10%;
    box-shadow: 4px 4px 2px var(--beige-dark-shadow);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.insideImage{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
}
.card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(0.3rem, 2vw, 2rem);
    font-weight: bold;
    text-align: center;
    cursor:default;
    background-color: #263518;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}
.card-title:hover {
    background-color: #57862ea8;
    color: #97fd49;
    border-radius: 1.3rem;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}
.card-description{
    font-family: monospace;
    font-size: clamp(0.3rem, 1vw, 1rem);
    text-indent: 1rem;
    text-align: left;
    word-spacing: 0.1rem;
    cursor:default;
}
.plant-list a{
    list-style-type: none;
    padding: 0;
    padding: 0.501vh 0 0.501vh 0;
    font-size: clamp(0.3rem,0.729vw,1.2rem); 
    text-decoration: none;
    color: var(--text-green);
    font-family: 'Courier New', Courier, monospace;
}

.plant-list a:hover{text-decoration: underline;}
.cardbottom-cont{display: flex;flex-direction: row;width: 100%;padding: 0;margin: 0;}
.card-footer {display: flex;height: 100%; margin: auto;}
.stats-container {display: flex;gap: 10px;}
.stat-box {text-align: center;width: 5.833vw;}
.stat-badge {background-color: var(--beige-light);color: var(--stat-text);font-family: monospace;font-weight: bold;font-size: 0.75vw; border-radius: 5px;padding: 0.25vw;}
.stat-badge:hover{cursor:help;}
.stat-label {font-family: monospace;font-size: 0.833vw;font-weight: bold;text-decoration: underline;margin-top: 5px;}
.stat-label:hover{cursor:default;}

.pot-button {
    right: 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 3.725rem;
    height: 3.8vh;
    overflow: visible; 
    transform: scale(0.8);
    transform-origin: bottom right; 
    margin-right: -5px; 
}
.pot-base {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 4.7vh;
    background-color: var(--pot-brown);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    z-index: 10;
}
.pot-rim {
    position: absolute;
    bottom: 4vh;
    left: 5%;
    width: 90%;
    height: 1vh;
    background-color: var(--pot-rim-brown);
    z-index: 11;
    border-radius: 2px;
}
.flower-assembly {
    position: absolute;
    left: 50%;
    bottom: 0px; 
    transform: translateX(-50%);
    z-index: 5;
    transition: bottom 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 0;
}

.pot-button.saved .flower-assembly {bottom: 4vh; opacity: 1;}

.stem {
    width: 0.5rem;
    height: 1.25rem;
    background-color: var(--stem-green);
    margin: 0 auto;
}
.flower-head {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: -5px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.875rem;
    height: 0.875rem;
    background-color: var(--flower-yellow);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.petal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 2.25rem;
    background-color: var(--flower-white);
    border-radius: 20px;
    transform-origin: center;
    z-index: 1;
}
.p1 { transform: translate(-50%, -50%); }
.p2 { transform: translate(-50%, -50%) rotate(45deg); }
.p3 { transform: translate(-50%, -50%) rotate(90deg); }
.p4 { transform: translate(-50%, -50%) rotate(135deg); }

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.toup{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0.5vw;
    margin-bottom: 0.9vh;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #1e2b1b;
    border: 1px solid var(--general-font-color);
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease;
    z-index: 1000;
}
.toup img{width: 100%;height: 100%;margin: 0;padding: 0;}
.toup:hover{cursor: pointer;}
.toup:active{transform: translateY(5px);transition: 0.3s all ease;}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */