:root {
    --body-bg: #b2cd8f;
    --text-color: #EBD5AB;
    --font-main: Georgia, serif;
    --font-data: 'Courier New', monospace;

    --general-button-bg:white;
    --general-button-font-color:white;
    --general-button-hover-bg:white;
    --general-button-hover-font-color:white;

    --pfinder-cont-bg:black;
    --pfinder-cont-font-color:black;
    --pfinder-cont-input-bg:black;
    --pfinder-subcont-bg:black;

    --card-bg: #242b23;
    --card-font-color:black;
    --card-table-key-bg: black;
    --card-table-value-bg: black;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
body.dark-mode {
    --bg-color: #0e110d;
    --card-bg: #1B211A;
    --primary-color: #8BAE66;
    --text-color: #fdf8ef;
    --border-color: #628141;
}
/*---------------------------------------------------------------------------------------------------------------------------------*/
body {
    background: var(--body-bg);
    transition: all 0.2s ease;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/*First container and its contents*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

.header-container {
    margin: 3rem 0 6rem 0;
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}
.main-title{
    font-family: var(--font-main);
    font-size: clamp(2rem, 7vw, 8rem);
    margin: 3rem 0 3rem 0;
    
}
.sub-title {
    width: 50%;
    margin: auto;
    font-style: italic;
    text-align: justify;
    font-family: var(--font-main);
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    border-left: 1rem solid black;
    padding-left: 2rem;
    margin: 2rem 0 2rem 0;
}
.quick-buttons-cont{
    width: 100%;
    margin: 2rem 0 2rem 0;
}
.showSearch_Btn{
    width: 20%;
    height: fit-content;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    font-family: var(--font-data);
    font-weight: bold;
    font-size: clamp(0.4rem, 1vw, 1.5rem);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    transition: all 0.2s ease;
    background-color: #ffffff;
}
.showBroswe_Btn{
    width: 20%;
    height: fit-content;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    font-family: var(--font-data);
    font-weight: bold;
    font-size: clamp(0.4rem, 1vw, 1.5rem);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    transition: all 0.3s ease;
    background-color: #ffffff;  
}
.showSearch_Btn:hover, .showBroswe_Btn:hover{
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: black;
    color: #ffffff;
}

/*Second container and its contents*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

.plant-finder-main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 50rem;
    margin: 0;
    gap: 5rem;
}
.search-title {
    font-family: var(--font-main);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.search-form {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2.5rem;
    width: 42%;
    height: 100%;
    border: 2px solid red;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.sub-selection-title {
    font-family: var(--font-main);
    padding-left: 1rem;
    margin: 1.25rem 0 0.625rem;
}
label {
    font-family: var(--font-main);
    text-transform: uppercase;
    letter-spacing: 0.063rem;
    font-size: 0.85rem;
    margin-bottom: 0.625rem;
    color: black;
}

input[type="text"], select {
    font-family: var(--font-data);
    color: black;
    padding: 0.938rem;
    border-radius: 0.5rem;
    width: 100%;
}
button[id^="clear-"] {
    font-family: var(--font-data);
    color: white;
    border: none;
    padding: 0.313rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.8rem;
}
.textInput-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}
.checkBox-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    gap: 2rem;
    padding: 1.5rem;
    background: rgba(0,0,0,0.3);
    border-radius: 1rem;
}
.selection-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    margin-top: 2rem;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.searchPlant_Btn {
    font-family: var(--font-main);
    width: 100%;
    background-color: white;
    color: #1B211A;
    padding: 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    margin-top: 2.5rem;
    transition: transform 0.2s, background 0.3s;
}
.searchPlant_Btn:hover {
    background-color: black;
    color: white;
    transform: translateY(-0.125rem);
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.first-searched-result{
    margin: 0;
    background-color: white;
    width: 42%;
    border: 2px solid red;
}

/*Third container and its contents*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

.plant-type-grouping-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    border: 2px solid red;
}
.typeGroup_Btn{
    height: fit-content;
    width: 10vw;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-family: monospace;
    font-size: clamp(0.4rem, 1vw,1.5rem);
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 1rem;
    transition: all 0.3s ease;
}
.typeGroup_Btn:hover{
    color: white;
    background-color: black;
    transition: all 0.3s ease;
    cursor: pointer;
}
/*Fourth container and its contents*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.other-searched-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
    border: 2px solid red;
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.plant-card {
    border-radius: 1.25rem;
    padding: 2.5rem;
    margin-top: 2.5rem;
    color: black;
    border: 2px solid red;
}
.plant-title {
    font-family: var(--font-main);
    font-size: 2.2rem;
    padding-bottom: 1rem;
}
.plant-details-table {
    width: 100%;
    margin-top: 1.25rem;
}
.detail-label {
    font-family: var(--font-main);
    padding: 0.75rem;
    font-weight: bold;
}
.detail-value {
    font-family: var(--font-data);
    padding: 0.75rem;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/*---------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 53.125rem) {

}

@media (max-width: 30rem) {

}