        :root{
            --header-primary: #475f36;
            --header-secondary:#799e52;
            --header-third:#edffd4;
            --sub-cont-primary:white;
            --sub-cont-secondary:white;
            --sub-cont-border:white;

            --LightMode-header-primary:white;
            --LightMode-header-secondary:white;
            --LightMode-header-border:white;
            --LightMode-sub-cont-primary:white;
            --LightMode-sub-cont-secondary:white;
            --LightMode-sub-cont-border:white;

            --DarkMode-header-primary:white;
            --DarkMode-header-secondary:white;
            --DarkMode-header-border:white;
            --DarkMode-sub-cont-primary:white;
            --DarkMode-sub-cont-secondary:white;
            --DarkMode-sub-cont-border:white;
        }
        body{
            background-color: #bee6c0;
        }
        #main-title{
            color: var(--header-primary);
            letter-spacing: 10px;
            font-family: monospace;
            font-size: 40pt;
            text-align: center;
        }
        #header-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: auto;
        }
        #headerContent{
            padding: 10px;
            width: 300px;
            height: 50px;
        }
        #headerContentButton{
            font-size: 14pt;
            font-family: monospace;
            color: var(--header-third);
            text-decoration: none;
            background-color: var(--header-primary);
            border-radius: 25px;
            border: none;
            text-align: center;
            margin: auto;
            width: 100%;
            height: 100%;
            letter-spacing: 5px;
        }
        #headerContentRollDown{
            background-color: var(--header-primary);
            display: flex;
            flex-direction: column;
            border-radius: 25px;
            transition: 0.5s;
            width: 80px;
            height: 360px;
            float: right;
            margin-right: 195px;
        }
        #openSideBar{
            width: 80px;
            height: 50px;
            border-radius: 25px;
            border: none;
            margin-left: 20px;
            margin-top: 10px;
            background-color: var(--header-primary);
        }
        #openSideBar:hover{
            cursor: pointer;
        }
        #openSideBar img{
            width: 30px;
            height: 30px;
        }
        #account-btn,#language-btn,#dark-mode-btn,#log-out-btn,#closeSideBar{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #account-btn:hover,#language-btn:hover,#dark-mode-btn:hover,#log-out-btn:hover,#closeSideBar:hover{
            cursor: pointer;
            transform: scale(0.9);
            transition: 0.3s;
        }
        #headerContentButton:hover{
            color: var(--header-primary);
            background-color: var(--header-third);
            font-weight: bold;
        }
        #headerContentButton:active{
            border: none;
        }
        #recentProjects-container,#weather-container{
            font-size: 14pt;
            margin: auto;
            margin-top: 100px;
            border: 2px dotted var(--header-primary);
            border-radius: 20px;
            width: 95%;
            height: 60%;
            padding: 20px;
            text-align: center;
        }