:root{
    --body-bg-color:#0d313a;
    --general-config:white;
    --onecard-bg-primary:#c6e7d8;
    --onecard-font-primary:rgb(6, 19, 18);
    --onecard-bg-secondary:rgb(6, 19, 18);
    --onecard-font-secondary:#c6e7d8;
}
/* ######################################################## */
body{
    background-color: var(--body-bg-color);
    font-family: monospace;
}
#main-title{
    color: var(--general-config);
    font-size: 40pt;
    text-align: center;
    letter-spacing: 10px;
    font-weight: bolder;
    margin-bottom: -20px;
}
#sub-title{
    color: var(--general-config);
    font-size: 14pt;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}
#header-container{
    width: 30%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 150px;
    align-items:center;
}
/* ######################################################## */
#gobacktohompage-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: var(--general-config);
    width: 50px;
    height: 50px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    position:fixed;
}
#goup-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-left: 100px;
    background-color: var(--general-config);
    width: 50px;
    height: 50px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    position:fixed;
}
#gobacktohompage-btn img{
    width: 100%;
    height: 100%;
}
#goup-btn img{
    width: 100%;
    height: 100%;
}
#gobacktohompage-btn:active, #goup-btn:active{
    transform: scale(0.9);
}
#sunlight-filtering-station,#water-filtering-station, #maintenance-filtering-station{
    display: flex;
    margin:auto;
}
#sunlightFilter,#waterFilter,#maintenanceFilter{
    background-color: var(--onecard-bg-primary);
    font-family: monospace;
    font-size: 13pt;
    text-align: center;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-weight: bold;
}
#sunlightFilter:hover,#waterFilter:hover,#maintenanceFilter:hover{
    cursor: pointer;
}
/* ######################################################## */
#main-container-ideas{
    background-color: var(--container-config);
    width: 70%;
    margin: auto;
}
#left-container{
    float: left;
    width: 45%;
    padding: 20px;
}
#right-container{
    float: right;
    width: 45%;
    padding: 20px;
}
.OneIdeaCard{
    background-color: var(--onecard-bg-primary);
    color: var(--onecard-font-primary);
    padding: 40px;
    margin-bottom: 50px;
    border-radius: 30px;
}
.OneIdeaCard:hover{
    background-color: var(--onecard-bg-primary);
    color: var(--onecard-font-primary);
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.OneIdeaTitle{
    background-color: var(--onecard-bg-primary);
    color: var(--onecard-font-primary);
    text-decoration: underline;
    font-size: 18pt;
    letter-spacing: 5px;
}
.OneIdeaPlants{
    background-color: var(--onecard-bg-primary);
    color: var(--onecard-font-primary);
    margin-top: 20px;
    font-size: 14pt;
}
.detailsListItem{
    background-color: var(--onecard-bg-primary);
    color: var(--onecard-font-primary);
    font-size: 12pt;
}
.detailsList{
    background-color: var(--onecard-bg-primary);
    color: var(--onecard-font-primary);
}
/* ######################################################## */
@media (max-width: 768px) {
    #main-container-knowledges{
        width: 90%;
    }
}
/* ######################################################## */