<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dans le jardin</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>WELCOME BACK!</h1>
    <div id="header-container">
        <div id="newProject"> 
            <!-- bulding a new garden/ starting a new garden layout -->
        </div>
        <div id="myProjects">
            <!-- listing the users garden layouts (projects)
            listing the plants
            listing the works in the shape of a calendar -->
        </div>
        <div id="ideas">
            <!-- a scrolling feed, kinda like pinterest, to spark up new ideas for the user -->
        </div>
        <div id="knowledge">
            <!-- a knowledge page, interesting facts about different types of gardens
            for example: 
                space gardening
                gardening in Antarctica
                gardening in the desert
                asian gardens
                historical gardens 
                etc. -->
        </div>
        <div id="savedPlants">
            <!-- a library to showcase the saved plants -->
        </div>
        <select name="" id="">
            <option value="">Account</option>
            <option value="">Language</option>
            <option value="">Dark mode</option> 
            <option value="">Sign out</option>
            <!-- (additional option: Settings) -->
        </select>
    </div>
    <div id="recentProjects-container">

    </div>
    <div id="weather-container">

    </div>
</body>
</html>