:root {
    --body-bg: #b2cd8f;
    --header-cont-bg: linear-gradient(to left, #364d26,#92ac70);
    --card-cont-bg: linear-gradient(to right, #364d26,#92ac70);
    --general-font-color:#060b04;

    --search-btns-bg: #e0e9d5;
    --search-btns-font: #1a1e1a;
    --search-btns-hover-bg: #1a1e1a;
    --search-btns-hover-font: #e0e9d5;

    --card-bg: #1a1e1a;
    --paragraph-bg:rgb(255, 239, 229);
    --paragraph-font:rgb(10, 4, 1);
    --card-shadow:rgba(249, 249, 157, 0.751);
    --card-text:#a7f070;
    --card-borders-color:rgb(255, 212, 185);
    --cardBtn-bg: #6b3010;
    --cardBtn-hover-bg: #7c3a15;
    --cardbtn-color: #ffffff;
    --cardbtn-hover-font-color: #d9fad3;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
body.dark-theme{
    --body-bg: #273220;
    --navbarBtn-bg: #121e0bee;
    --navbarBtn-font-color:rgb(255, 255, 255);
    --navbarBtn-hover-bg: #030502;
    --navbarBtn-hover-font-color: rgb(255, 255, 255);

    --header-cont-bg: linear-gradient(to left, #222e1aff,#495f33ff);
    --card-cont-bg: linear-gradient(to right, #222e1aff,#495f33ff);
    --general-font-color:#ffffff;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */
body {
    background: var(--body-bg);
    transition: all 0.2s ease;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.header-container{
    width: 95%;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    margin: 2rem 0 5rem 0;
    padding: 2rem 0 2rem 0;
    border-radius: 5rem;
    align-items:center;
    background-image: var(--header-cont-bg);
}
.left-cont{
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
}
.right-cont{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.right-cont > div{width: 80%;}
.main-title{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: var(--general-font-color);
    font-size: clamp(2.5rem, 5.9vw, 7rem);
    text-shadow: var(--title-text-shadow);
    letter-spacing: 5px;
    font-weight: bolder;
    margin: 0;
    text-wrap: balance;
    text-align: left;
    padding-left: 5rem;
}
.sub-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--general-font-color);
    border-left: 1rem solid var(--general-font-color);
    font-size: clamp(1rem, 1vw, 1.2rem);
    text-align: left;
    width: 90%;
    line-height: 2.7vh;
    font-style: italic;
    text-wrap: balance;
    padding-left: 2vw;
    margin-left: 5vw;
}
#showContainer{
    width: 30vw;
    height: fit-content;
    padding: 0.8rem 0 0.8rem 0;
    margin: 8rem 0 0 0 ;
    font-size: clamp(0.7rem,1vw,3rem);
    border-radius: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    background-color: var(--search-btns-bg);
    color: var(--search-btns-font);
}
#showContainer:hover{
    width: 32vw;
    transition: all 0.2s ease-in-out;
    background-color: var(--search-btns-hover-bg);
    color: var(--search-btns-hover-font);
    letter-spacing: 2px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.ShowCaseOneKnowledgeCard{
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--card-bg);
    padding: 1rem;
    margin: 1.5rem ;
    border-radius: 1.5rem;
    box-shadow: 6px 6px 4px var(--card-shadow);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid rgba(194, 226, 170, 0.1);
    z-index: 1000;
    position: relative;
}
.ShowCaseOneKnowledgeCard::before {
    content: '';
    position: absolute;
    top: 0; left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        to right, 
        transparent, 
        rgba(255, 255, 255, 0.05), 
        transparent
    );
    transition: 0.5s;
    pointer-events: none;
}
.ShowCaseOneKnowledgeCard:hover::before {
    left: 150%;
}
.ShowCaseOneKnowledgeCard:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    border-color: var(--card-text);
}
.ShowCaseOneKnowledgeTitle{
    color: var(--card-text);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: clamp(1.8rem, 4vw, 4.5rem);
    text-align: center;
    text-wrap: balance;
    margin: 0.2rem 0 1.5rem 0;
    letter-spacing: 1px;
    font-weight: bold;
}
.ShowCaseOneKnowledgeTitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    left: 50%;
    width: 10rem;
    height: 3px;
    background: var(--card-text);
    transform: translateX(-50%);
    transition: width 0.3s ease;
    opacity: 0.6;
}

.ShowCaseOneKnowledgeCard:hover .ShowCaseOneKnowledgeTitle::after {
    width: 30rem;
}
.ShowCaseOneKnowledgeSummary{
    font-size: clamp(0.6rem, 1vw, 1.1rem);
    color: var(--card-text);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify; 
    width: 80%;
    word-spacing: 0.3vw;
    border-top: 0.2rem solid var(--card-text);
    padding-top: 1.5rem;
}
.ShowCaseOneKnowledgePictureWrapper{
    width: 80%;
    height: 50%;
    margin: 2rem;
}
.ShowCaseOneKnowledgePicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/2;
    border-radius: 2rem;
    border: 0.2rem solid var(--card-borders-color);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.knowledges-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--card-cont-bg);
    border-radius: 5rem;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.OneKnowledgeSet.expanded {width: 95%;}
.OneKnowledgeSet.expanded .readMoreBtn{display: none;}
.OneKnowledgeSet.expanded .OneKnowledgeCard{ width: 100% !important; flex-direction: column;}
.OneKnowledgeSet.expanded .OneKnowledgeSummary{ width: 60% !important;}
.OneKnowledgeSet.expanded .OneKnowledgeTitle{ width: 70% !important;}
.OneKnowledgeSet.expanded .OneKnowledgeCard {overflow: visible;}
.OneKnowledgeSet.expanded .OneKnowledgePictureWrapper {position: absolute;top: 1.5rem;right: 1.5rem;width: 28%;height: auto;margin: 0;}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.OneKnowledgeSet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-height: 40%;
    margin: 1rem 0 1rem 0;
    transition: all 0.5s ease;
}
.readMoreBtn{
    background-color: var(--cardBtn-bg);
    color: var(--cardbtn-color);
    font-family: monospace;
    font-size: 2vw;
    border-radius: 0.7rem;
    width: 2vw;
    height: fit-content;
    padding: 10rem 0 10rem 0;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    border: 0.2rem solid var(--card-bg);
    transition: 0.3s all ease;
}
.readMoreBtn:hover{
    background-color: var(--cardBtn-hover-bg);
    color: var(--cardbtn-hover-font-color);
    transition: 0.3s all ease;
}
.closeBtn{
    background-color: var(--cardBtn-bg);
    color: var(--cardbtn-color);
    width: 70%;
    height: fit-content;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 0.2rem solid rgb(18, 11, 2);
    transition: all 0.3s ease;
}
.closeBtn:hover{
    background-color: var(--cardBtn-hover-bg);
    color: var(--cardbtn-hover-font-color);
    width: 90%;
    height: fit-content;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.OneKnowledgeCard {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    overflow: visible;
    background-color: var(--card-bg);
    padding: 2.5rem;
    margin: 2rem ;
    border-radius: 1.5rem;
    box-shadow: 6px 6px 4px var(--card-shadow);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid rgba(194, 226, 170, 0.1);
    z-index: 1000;
    position: relative;
}

.OneKnowledgeCard .card-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.OneKnowledgeCard .card-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 20%;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.OneKnowledgeTitle {
    color: var(--card-text);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: clamp(1.8rem, 4.2vw, 4.6rem);
    text-align: left;
    text-wrap: balance;
    margin: 0.2rem 0 1.5rem 0;
    letter-spacing: 1px;
    font-weight: bold;
}
.OneKnowledgeTitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    left: 50%;
    width: 10rem;
    height: 3px;
    background: var(--card-text);
    transform: translateX(-50%);
    transition: width 0.3s ease;
    opacity: 0.6;
}
.OneKnowledgeCard:hover .OneKnowledgeTitle::after {
    width: 30rem;
}
.OneKnowledgeSummary{
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    color: var(--card-text);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left; 
    width: 90%;
    word-spacing: 0.3vw;
    border-top: 0.2rem solid var(--card-text);
    padding-top: 2.5rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.OneKnowledgeDescription {
    color: var(--paragraph-font);
    line-height: 1.8;
    font-family: monospace;
    white-space: pre-line;
    opacity: 0.9;
    text-align: left; 
    border-left: 5px solid rgba(176, 246, 123, 0.601);
    padding-left: 1rem;
    height: 20rem;
    width: 100%;
    overflow-y: auto;
    animation: slideIn 0.4s ease;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.OneKnowledgeParagraph {
    font-size: clamp(0.6rem, 1vw, 1.2rem);
    text-indent: 1rem;
    text-align: justify;
    margin: 0.4rem 0rem 0.1rem 0rem;
    background-color: var(--paragraph-bg);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    width: 95%;
}

@keyframes slideIn {
    from { opacity: 0; max-height: 0;}
    to { opacity: 1; max-height: 25rem;}
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.OneKnowledgePictureWrapper{
    width: 45%;
    height: 80%;
    margin: 2rem;
}

.OneKnowledgePicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/2.5;
    border-radius: 2rem;
    border: 0.2rem solid var(--card-borders-color);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.toup{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0.5vw;
    margin-bottom: 0.9vh;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #1e2b1b;
    border: 1px solid var(--general-font-color);
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease;
    z-index: 1000;
}
.toup img{width: 100%;height: 100%;margin: 0;padding: 0;}
.toup:hover{cursor: pointer;}
.toup:active{transform: translateY(5px);transition: 0.3s all ease;}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 900px) {

}

@media (max-width: 600px) {

}

/*---------------------------------------------------------------------------------------------------------------------------------*/