:root {
    --body-bg: #b2cd8f;
    --main-font-color: #0b0e0a;
    --font-main: Georgia, serif;
    --font-data: monospace;
    --main-cont-bg: #7f995c;

    --general-btns-bg: #e0e9d5;
    --general-btns-font: #1a1e1a;
    --general-btns-hover-bg: #1a1e1a;
    --general-btns-hover-font: #e0e9d5;


    --bg-dark: #c3c3c33b;
    --garden-card-bg: linear-gradient(145deg, #1d502a, #3e6b3c);
    --garden-card-accent: rgba(86, 86, 86, 0.523);
    --garden-card-border: 0.25rem solid #071a14;
    --garden-card-title: rgb(9, 16, 1);
    --garden-card-title-bg: #F1E3D3;
    --garden-card-text: rgb(9, 16, 1);
    --garden-card-cell-cont-bg: #cceeb9ce;
    --garden-card-cell-table-bg: #5e460e;
    --garden-card-cell-bg: #a48231;
    --garden-card-cell-text: rgb(6, 10, 0);
    --garden-card-cell-border: 0.15rem solid rgba(2, 31, 11, 0.564);
    --garden-card-cell-shadow: 0.18rem 0.18rem rgba(54, 141, 62, 0.756);

    --garden-card-editBtn-bg: #E07A5F;
    --garden-card-editBtn-font: #ffffff;
    --garden-card-editBtn-hover-bg: #ffe6d1;
    --garden-card-editBtn-hover-font: #110801;

    --garden-card-deleteBtn-bg: #690B22;
    --garden-card-deleteBtn-font: #ffffff;
    --garden-card-deleteBtn-hover-bg: #f8d6d6;
    --garden-card-deleteBtn-hover-font: #0f0101;
}/*------------------------------------------------------------------------------------------*/
body.dark-theme {
    --body-bg: #273220;
    --main-font-color: #fdf8ef;
    --header-cont-bg: #1a2211;

    --navbarBtn-bg: #121e0bee;
    --navbarBtn-font-color:rgb(255, 255, 255);
    --navbarBtn-hover-bg: #030502;
    --navbarBtn-hover-font-color: rgb(255, 255, 255);
}
/*------------------------------------------------------------------------------------------*/
body {
    background: var(--body-bg);
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.main-cont {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.5rem solid var(--main-cont-bg);
    padding: 5rem 0 5rem 0;
    justify-content: space-evenly;
}
.header-container {
    margin: 1rem 0 1rem 0;
    text-align: center;
    text-wrap: balance;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-title {
    font-family: var(--font-main);
    font-size: clamp(4rem, 6.2vw, 7.2rem);
    margin: 1rem 0 1rem 3rem;
    color: var(--main-font-color);
    width: 95%;
    text-align: left;
}
.sub-title {
    width: 95%;
    font-style: italic;
    text-align: justify;
    font-family: var(--font-main);
    font-size: clamp(1rem, 1.1vw, 1.2rem);
    color: var(--main-font-color);
    border-left: 1rem solid black;
    padding-left: 2rem;
    margin: 1rem 0 1rem 7rem;
}

/*------------------------------------------------------------------------------------------*/

.add-garden-cont {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.add-garden-form {
    background-color: var(--main-cont-bg);
    color: var(--text-main);
    padding: 2.5rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    height: fit-content;
    margin: 1rem;
}
.add-garden-form label {
    font-weight: bold;
    font-family: var(--font-data);
    color: var(--text-main);
    font-size: clamp(1rem, 1.5vw, 1.7rem);
    text-align: left;
}
.add-garden-form input {
    padding: 1rem;
    border-radius: 0.6rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: var(--text-main);
    font-family: inherit;
    font-size: 1rem;
}
.add-garden-form input:focus {
    outline: 2px solid var(--text-green);
    background-color: rgba(255, 255, 255, 0.25);
}

/*------------------------------------------------------------------------------------------*/

.button-cont {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.cancel-btn,.preview-btn {width: 50%;}
button {
    padding: 0.9rem 1.8rem;
    border-radius: 2.5rem;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--general-btns-bg);
    color: var(--general-btns-hover-bg);
    font-size: 1rem;
    margin: 0.5rem 0;
}
button:hover {
    background-color: var(--general-btns-font);
    color: var(--general-btns-hover-font);
    letter-spacing: 1px;
    transform: translateY(-2px);
}
button:active {transform: translateY(0);}

/*------------------------------------------------------------------------------------------*/

.preview-container {
    margin: 2rem 0 2rem 0;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.go-back-btn {
    padding: 0.5rem 10rem 0.5rem 10rem;
    width: fit-content;
    height: fit-content;
    border-radius: 2.5rem;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--general-btns-bg);
    color: var(--general-btns-hover-bg);
    font-size: 1rem;
    margin: 0.5rem 0;
}
.go-back-btn:hover {
    background-color: var(--general-btns-font);
    color: var(--general-btns-hover-font);
    letter-spacing: 1px;
    transform: translateY(-2px);
}
.go-back-btn:active {transform: translateY(0);}

/*------------------------------------------------------------------------------------------*/

.garden-table {
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--garden-card-cell-table-bg);
}
.garden-table td {
    width: clamp(30px, 1.7vw, 50px);
    height: clamp(30px, 3.5vh, 50px);
    border-radius: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-family: monospace;
    font-size: clamp(0.4rem, 0.8vw, 0.9rem);
    cursor: pointer;
    transition: all 0.2s ease;
    border: var(--garden-card-cell-border);
    box-shadow: var(--garden-card-cell-shadow);
    background-color: var(--garden-card-cell-bg);
    color: var(--garden-card-cell-text);
}