:root {
    --body-bg: #b2cd8f;
    --header-cont-bg: linear-gradient(to right, #64884a, #92ac70);
    --main-font-color: #151c13;
    --font-main: Georgia, serif;
    --font-data: 'Courier New', monospace;
    --font-text: Arial;

    --general-button-bg: #f5ece5;
    --general-button-font-color: #0b0e0a;
    --general-button-hover-bg: #0b0e0a;
    --general-button-hover-font-color: #f5ece5;
    --toup-border-color: #e0f7e0;

    --pfinder-cont-bg: #4c3a22f5;
    --pfinder-cont-font-color: #030c01e4;
    --pfinder-cont-input-bg: #fffaf6;
    --pfinder-subcont-bg: #f0e3ade9;
    --pfinder-border: 0.3rem solid #0c0402c6;
    --pfinder-accent1-color: #9dab62;
    --pfinder-accent2-color: #ba7832df;
    --pfinder-cont-title-bg: var(--card-title-bg);
    --pfinderBtn-bg: #0d1102e7;
    --pfinderBtn-hover-bg: #E3DBBB;
    --pfinderBtn-font-color: #E3DBBB;
    --pfinderBtn-hover-font-color: #0d1102;

    --card-bg: #362918;
    --card-font-color: #030c01;
    --card-border: 0.4rem solid #0c0402;

    --card-title-bg: #FFDE42;
    --card-subtitle-bg: #ba7832;

    --pot-brown: #6b3010;
    --pot-rim-brown: #7c3a15;
    --flower-white: #ffffff;
    --flower-yellow: #f0e632;
    --stem-green: #66a840;

    --card-table-key-bg: #9dab62;
    --card-table-key-font: #0d1102;
    --card-table-value-bg: #E3DBBB;
    --card-table-value-font: #0d1102;
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

body.dark-theme {
    --body-bg: #273220;
    --header-cont-bg: linear-gradient(to right, #222e1a, #495f33);
    --primary-color: #8BAE66;
    --border-color: #628141;
    --main-font-color: #c3eeae;

    --navbarBtn-bg: #121e0bee;
    --navbarBtn-font-color: rgb(255, 255, 255);
    --navbarBtn-hover-bg: #030502;
    --navbarBtn-hover-font-color: rgb(255, 255, 255);
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1600px) {
    body #other-searched-results {grid-template-columns: 1fr 1fr;}
    body #searching-cont {grid-template-columns: 1fr;}
}
@media (max-width: 1000px) {
    body #other-searched-results {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    body #other-searched-results .plant-card{width: 60%;}
}
@media (max-width: 900px) {
    body .main-title{
        font-size: clamp(2.5rem, 10vw, 14rem);
        margin: 0.5rem 0 1rem 0;
    }
    body .clearBtn {width: 90%;}
    body .origin-selection-cont, 
    body .indoor-switch-cont, 
    body .seeds-switch-cont {
        display: flex;
        flex-wrap: wrap;
    }
    body .indoor-switch-cont, 
    body .seeds-switch-cont {
        padding-bottom: 2rem;
    }
    body .switch {
        width: 100%;
        height: clamp(1.2rem, calc(100% * (2/3)), 1.5rem);
    }
    body .slider:before {
        width: calc(50% - 0.2rem);
        height: calc(100% - 0.3rem);
        top: 0.15rem;
        left: 0.15rem;
    }
    body .plant-type-grouping-cont{
        width: 70%;
        margin: 2rem 0 1rem 0;
    }
    body .pot-button{
        scale: 0.9;
    }
}

@media (max-width: 700px) {
    body .other-searched-results {grid-template-columns: 1fr;}
    body .quick-buttons-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    body .quick-buttons-cont .showSearch_Btn, body .quick-buttons-cont .showBrowse_Btn {
        width: 80%;
        border-radius: 1.5rem;
    }
}
@media (max-width: 650px) {
    body .searching-cont{display: flex;flex-direction: column;}
    body .left-container{width: 100%;}
    body .right-container{width: 100%;}
    body .origin-selection-cont, 
    body .indoor-switch-cont, 
    body .seeds-switch-cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    body .clearBtn {
        width: fit-content;
        padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    }
    body .pot-button{
        scale: 0.8;
    }
}
@media (max-width: 450px) {
    body .origin-selection-cont{display: flex;flex-direction: column;}
    body .clearBtn {width: 90%;}
}

/*---------------------------------------------------------------------------------------------------------------------------------*/

body {
    background: var(--body-bg);
    transition: all 0.3s ease;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/*First container and its contents*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

.header-container {
    margin: 3rem 0 3rem 0;
    text-align: center;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--header-cont-bg);
    background-color: #13220b68;
    border-radius: 2rem;
}

.main-title {
    /* font-family: var(--font-main); */
    font-family: Georgia, serif;
    font-size: clamp(2rem, 7vw, 8rem);
    margin: 3rem 0 3rem 0;
    color: var(--main-font-color);
}

.sub-title {
    width: 60%;
    margin: auto;
    font-style: italic;
    text-align: justify;
    /* font-family: var(--font-main); */
    font-family: Georgia, serif;
    font-size: clamp(0.7rem, 1.7vw, 1.5rem);
    color: var(--main-font-color);
    border-left: 1vw solid var(--main-font-color);
    padding-left: 2vw;
    margin: 2vh 0 2rem 0;
}

.quick-buttons-cont {
    width: 100%;
    margin: 2rem 0 1rem 0;
}
.showSearch_Btn {
    width: 20%;
    height: fit-content;
    padding: 0.8rem 3rem 0.8rem 3rem;
    text-align: center;
    font-family: var(--font-data);
    font-weight: bold;
    font-size: clamp(0.7rem, 1vw, 1.5rem);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    transition: all 0.2s ease;
    background-color: var(--general-button-bg);
    color: var(--general-button-font-color);
}

.showBrowse_Btn {
    width: 20%;
    height: fit-content;
    padding: 0.8rem 3rem 0.8rem 3rem;
    text-align: center;
    font-family: var(--font-data);
    font-weight: bold;
    font-size: clamp(0.7rem, 1vw, 1.5rem);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    transition: all 0.3s ease;
    background-color: var(--general-button-bg);
    color: var(--general-button-font-color);
}

.showSearch_Btn:hover,
.showBrowse_Btn:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: var(--general-button-hover-bg);
    color: var(--general-button-hover-font-color);
}

/*Second container and its contents*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.search-form {
    background-color: var(--pfinder-cont-bg);
    color: var(--pfinder-cont-font-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0.7vh 8vw 0.7vh 8vw;
    margin: 1rem auto;
    width: 90%;
    min-height: 80vh;
    height: auto;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.402);
    box-sizing: border-box;
    border: var(--pfinder-border);
    box-shadow: 1rem 0.5rem rgba(62, 62, 62, 0.162);
    overflow-y: auto;
}

.search-title {
    /* font-family: var(--font-main); */
    font-family: Georgia, serif;
    background-color: var(--pfinder-cont-title-bg);
    box-shadow: 0.5rem 0.5rem var(--pfinder-accent2-color);
    border-radius: 1rem;
    font-size: clamp(1.75rem, 4.5vw, 5rem);
    margin: 0.5rem 0 1.5rem 0;
    padding: 0.1rem 0 0.5rem 0;
    text-align: center;
}

.browse-title {
    /* font-family: var(--font-main); */
    font-family: Georgia, serif;
    font-size: clamp(1.75rem, 6vw, 6.4rem);
    color: var(--main-font-color);
    margin: 4rem 0 1rem 0;
    padding: 2rem 0 0rem 0;
    text-align: center;
    text-wrap: balance;
    width: 90%;
    border-top: 0.4rem solid var(--main-font-color);
}

.searching-cont {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1.5rem;
    align-items: start;
}

.search-sub-cont {
    background-color: var(--pfinder-subcont-bg);
    box-shadow: 0.3rem 0.3rem var(--pfinder-accent1-color);
    border-radius: 1.25rem;
    padding: 1.5rem;
    gap: 0.75rem;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 100%;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    height: 100%;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/* ----- Common name & Botanical name ----- */

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.textInput-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.CommonN-input-cont,
.BotanicalN-input-cont {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.commonname-search-input,
.botanicalname-search-input {
    width: 100%;
    background-color: var(--pfinder-cont-input-bg);
    border: none;
    box-sizing: border-box;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/* ----- Water, Sunlight, Soil radio selection  ----- */

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.radioBtn-cont {
    display: flex;
    flex-direction: column;
}

.sub-selection-title {
    font-family: var(--font-data);
    margin: 0.5rem 0 0.25rem 0;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    border-bottom: 0.2rem solid var(--pfinder-cont-font-color);
    padding-bottom: 0.3rem;
}

/*-----------------------------------------------------------------------------------------*/

.water-selection-cont,
.sunlight-selection-cont,
.soil-selection-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;
}

.water-selection-cont input,
.sunlight-selection-cont input,
.soil-selection-cont input {
    margin: 0;
    cursor: pointer;
}

.water-selection-cont label,
.sunlight-selection-cont label,
.soil-selection-cont label {
    margin: 0 0 0 0.5rem;
    cursor: pointer;
    font-size: clamp(0.6rem, 0.9vw, 1.4rem);
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.85vw;
}

/*-----------------------------------------------------------------------------------------*/

.clearBtn {
    background-color: var(--pfinderBtn-bg);
    color: var(--pfinderBtn-font-color);
    padding: 0.3rem 1.2rem 0.3rem 1.2rem;
    margin-left: 1.5vw;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    border-radius: 0.8rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.clearBtn:hover {
    background-color: var(--pfinderBtn-hover-bg);
    color: var(--pfinderBtn-hover-font-color);
    transform: translateY(-0.125rem);
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/* ----- Planting & Harvesting & Pruning selection + Indor & Seeds switch----- */

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.selection-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 1.5rem;
}

/*-----------------------------------------------------------------------------------------*/

.planting-months-selection,
.harvesting-months-selection,
.pruning-months-selection,
.origin-selection {
    background-color: var(--pfinder-cont-input-bg);
    border: none;
}

/*-----------------------------------------------------------------------------------------*/

.origin-selection-cont, .indoor-switch-cont, .seeds-switch-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

/* Hide default HTML checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: clamp(2.5rem, 4vw, 3.5rem);
    height: clamp(1.5rem, 2.8vw, 2rem);
}

.switch input {
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9aad6a;
    border-radius: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(100% - 0.4rem);
    width: calc(50% - 0.25rem);
    left: 0.2rem;
    top: 0.2rem;
    background-color: white;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

input:checked+.slider {
    background-color: #52a75f;
}

input:checked+.slider:before {
    transform: translateX(calc(100% + 0.1rem));
}

/* Rounded slider container */
.slider.round {
    border-radius: 0.8rem;
}

.slider.round:before {
    border-radius: 1rem;
}

/*-----------------------------------------------------------------------------------------*/

/* General Overrides */
label {
    font-family: var(--font-data);
    font-size: clamp(0.6rem, 1vw, 1.5rem);
    font-weight: bold;
}

input[type="text"],
select {
    font-family: var(--font-data);
    font-size: clamp(0.6rem, 0.7vw, 1rem);
    padding: 0.4rem 0 0.4rem 0.25rem;
    border-radius: 0.6rem;
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.searchPlant_Btn {
    font-family: var(--font-main);
    width: 100%;
    background-color: var(--pfinderBtn-bg);
    color: var(--pfinderBtn-font-color);
    padding: 1.1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: auto;
    transition: transform 0.3s, background 0.3s;
}

.searchPlant_Btn:hover {
    background-color: var(--pfinderBtn-hover-bg);
    color: var(--pfinderBtn-hover-font-color);
    transform: translateY(-0.125rem);
}


/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


.first-searched-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

/*Third container and its contents*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

.plant-type-grouping-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 0.5rem;
    margin: 3rem auto;
}

.typeGroup_Btn, #saved-plants-grouping {
    height: fit-content;
    width: 10vw;
    min-width: 5rem;
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
    font-family: monospace;
    font-size: clamp(0.6rem, 1vw, 1.5rem);
    text-align: center;
    color: var(--general-button-font-color);
    background-color: var(--general-button-bg);
    border: none;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.typeGroup_Btn:hover, #saved-plants-grouping:hover {
    color: var(--general-button-hover-font-color);
    background-color: var(--general-button-hover-bg);
    transition: all 0.3s ease;
    cursor: pointer;
}

.result-button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0 1rem 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.loadMore_Btn,
.GoBackSearch_Btn {
    background-color: var(--general-button-bg);
    color: var(--general-button-font-color);
    font-size: clamp(0.5rem, 1.2vw, 1.4rem);
    font-family: var(--font-data);
    width: 40%;
    height: fit-content;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.loadMore_Btn:hover,
.GoBackSearch_Btn:hover {
    background-color: var(--general-button-hover-bg);
    color: var(--general-button-hover-font-color);
    transition: all 0.3s ease;
}

/*Fourth container and its contents*/
/*---------------------------------------------------------------------------------------------------------------------------------*/

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.other-searched-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 90vh;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

.plant-card {
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 90%;
    height: fit-content;
    background-color: var(--card-bg);
    color: var(--card-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1rem 0.5rem rgba(62, 62, 62, 0.162);
    border: var(--card-border)
}

.plant-card-header-cont {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.plant-card-title-cont {
    display: flex;
    flex-direction: column;
    float: left;
    width: 80%;
}

.plant-title {
    font-family: var(--font-main);
    font-size: clamp(1rem, 2.5vw, 3rem);
    text-align: center;
    margin: 0;
    padding: 0.3rem 0 0.3rem 0;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--card-title-bg);
}

.plant-subtitle {
    font-family: var(--font-main);
    font-size: clamp(0.5rem, 1vw, 1.8rem);
    text-wrap: balance;
    text-align: center;
    margin: 0.8rem 0 0.2rem 0;
    padding: 0.3rem 0 0.3rem 0;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--card-subtitle-bg);
}

.plant-details-table {
    width: 100%;
    margin-top: 1.25rem;
}

.detail-label {
    font-family: var(--font-main);
    font-size: clamp(0.6rem, 0.8vw, 1.1rem);
    background-color: var(--card-table-key-bg);
    color: var(--card-table-key-font);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    text-align: center;
}

.detail-value {
    font-family: var(--font-data);
    font-size: clamp(0.5rem, 0.8vw, 1rem);
    background-color: var(--card-table-value-bg);
    color: var(--card-table-value-font);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.75rem;
    font-weight: bold;
}

.pot-button {
    right: 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 3.725rem;
    height: 3.8vh;
    overflow: visible;
    transform: scale(0.8);
    transform-origin: bottom right;
    margin-left: -1rem;
    margin-bottom: -1rem;
}

.pot-base {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 4.7vh;
    background-color: var(--pot-brown);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    z-index: 10;
}

.pot-rim {
    position: absolute;
    bottom: 4vh;
    left: 5%;
    width: 90%;
    height: 1vh;
    background-color: var(--pot-rim-brown);
    z-index: 11;
    border-radius: 2px;
}

.flower-assembly {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    z-index: 5;
    transition: bottom 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    opacity: 0;
}

.pot-button.saved .flower-assembly {
    bottom: 4vh;
    opacity: 1;
}

.stem {
    width: 0.5rem;
    height: 1.25rem;
    background-color: var(--stem-green);
    margin: 0 auto;
}

.flower-head {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: -5px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.875rem;
    height: 0.875rem;
    background-color: var(--flower-yellow);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.petal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 2.25rem;
    background-color: var(--flower-white);
    border-radius: 20px;
    transform-origin: center;
    z-index: 1;
}

.p1 {
    transform: translate(-50%, -50%);
}

.p2 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.p3 {
    transform: translate(-50%, -50%) rotate(90deg);
}

.p4 {
    transform: translate(-50%, -50%) rotate(135deg);
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/


/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.toup {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 0.5vw;
    margin-bottom: 0.9vh;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 2rem;
    border: none;
    background-color: #1e2b1b;
    border: 0.15rem solid var(--toup-border-color);
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease;
    z-index: 1000;
}

.toup img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.toup:hover {
    cursor: pointer;
}

.toup:active {
    transform: translateY(5px);
    transition: 0.3s all ease;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------- */