:root{
            --header-primary: #3f5231;
            --header-secondary:#658147;
            --header-third:#b1c599;
            --sub-cont-primary:white;
            --sub-cont-secondary:white;
            --sub-cont-border:white;

            --LightMode-header-primary:white;
            --LightMode-header-secondary:white;
            --LightMode-header-border:white;
            --LightMode-sub-cont-primary:white;
            --LightMode-sub-cont-secondary:white;
            --LightMode-sub-cont-border:white;

            --DarkMode-header-primary:white;
            --DarkMode-header-secondary:white;
            --DarkMode-header-border:white;
            --DarkMode-sub-cont-primary:white;
            --DarkMode-sub-cont-secondary:white;
            --DarkMode-sub-cont-border:white;
        }
        body{
            background-color: #e7ece5;
        }
        #main-title{
            font-family: Arial, Helvetica, sans-serif;
            color: var(--header-border);
            font-size: 32pt;
            text-align: center;
        }
        #header-container{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: row;
            width: 85%;
            margin: auto;
        }
        #headerContent{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12pt;
            color: var(--header-third);
            text-decoration: none;
            background-color: var(--header-primary);
            border-bottom: 8px solid var(--header-secondary);
            border-radius: 25px;
            text-align: center;
            margin: auto;
            margin-left: 10px;
            margin-right: 10px;
            padding: 15px;
            width: 350px;
            height: 15px;
        }
        #headerContent:hover{
            font-family: Arial, Helvetica, sans-serif;
            color: var(--header-primary);
            background-color: var(--header-third);
            font-weight: bold;
        }
        #headerContent:active{
            font-family: Arial, Helvetica, sans-serif;
            border: none;
        }
        #recentProjects-container,#weather-container{
            font-family: Arial, Helvetica, sans-serif;
            margin: auto;
            margin-top: 100px;
            border: 5px dotted var(--header-primary);
            border-radius: 20px;
            width: 95%;
            height: 60%;
        }