        :root{
            --header-primary: #3f5231;
            --header-secondary:#658147;
            --header-third:#b1c599;
            --sub-cont-primary:white;
            --sub-cont-secondary:white;
            --sub-cont-border:white;

            --LightMode-header-primary:white;
            --LightMode-header-secondary:white;
            --LightMode-header-border:white;
            --LightMode-sub-cont-primary:white;
            --LightMode-sub-cont-secondary:white;
            --LightMode-sub-cont-border:white;

            --DarkMode-header-primary:white;
            --DarkMode-header-secondary:white;
            --DarkMode-header-border:white;
            --DarkMode-sub-cont-primary:white;
            --DarkMode-sub-cont-secondary:white;
            --DarkMode-sub-cont-border:white;
        }
        body{
            background-color: #e7ece5;
        }
        #main-title{
            font-family: monospace;
            color: var(--header-border);
            font-size: 40pt;
            text-align: center;
        }
        #header-container{
            font-family: monospace;
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: auto;
        }
        #headerContent{
            margin-left: 10px;
            margin-right: 10px;
            padding: 15px;
            width: 250px;
            height: 30px;
        }
        #headerContentButton{
            font-family: monospace;
            font-size: 14pt;
            color: var(--header-third);
            text-decoration: none;
            background-color: var(--header-primary);
            border-radius: 25px;
            border: none;
            text-align: center;
            margin: auto;
            width: 100%;
            height: 100%;
        }
        #headerContentRollDown{
            margin-left: 10px;
            margin-right: 10px;
            padding: 15px;
            width: 250px;
            height: 30px;
            font-family: monospace;
            font-size: 12pt;
            color: var(--header-third);
            text-decoration: none;
            background-color: var(--header-primary);
            border-radius: 25px;
            border: none;
            text-align: center;
            margin: auto;
        }
        #headerContentButton:hover{
            color: var(--header-primary);
            background-color: var(--header-third);
            font-weight: bold;
        }
        #headerContentButton:active{
            border: none;
        }
        #recentProjects-container,#weather-container{
            font-family: monospace;
            font-size: 14pt;
            margin: auto;
            margin-top: 100px;
            border: 2px dotted var(--header-primary);
            border-radius: 20px;
            width: 95%;
            height: 60%;
            padding: 20px;
        }